@model IEnumerable<english.DbFolder.Kurs>



<link href="~/css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />


<div class="swipe-menu">
    <div class="close">
        <span></span>
    </div>
    <a href="#" class="main-nav fix-active">Главная</a>

    <a href="#" class="course-nav">Курсы</a>
    <a href="#" class="">Лайфхаки</a>
    <a href="#" class="more-nav">Рейтинги</a>
    <a href="#" class="about-nav">Контакты</a>
    <a href="/Account/Profil" class="swipe-login">
        <span>Личный кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
</div>
<div class="header-wrap">
    <div class="header const-container">
        <div class="logo">
        </div>
        <div class="nav">
            <a href="#" class="main-nav fix-active">Басты бет</a>
            <a href="/Home/LifeHack" class="about-nav">Лайфхактар</a>
            <a href="#" class="course-nav">Курстар</a>
            <a href="#" class="more-nav">Рейтингтер</a>
            <a href="#">Байланыс</a>
        </div>
            <div class="login">
                <a href="/Account/Profil" class="login">
                    <span>Кіру</span>
                    <i class="fa fa-user-o"></i>
                </a>
                <span class="lang-block">
                    <a href="#" class="act-lang">RU</a>
                    <a >KZ</a>
                </span>
            </div>


            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
<div class="content">
    <div id="main" class="main-wrap">
        <div class="main-bg"></div>
        <div class="main const-container">
            <div class="main-text">
                <h1>Ағылшын тілінде еркін сөйлеуді үйрен</h1>
                <p>
                    2 деңгейді <span style=" font-size: 23px; color: #f8951a;">(Elementary+ Pre-Intermediate)</span>
                </p>
                <p>
                    <span style=" font-size: 23px; color: #f8951a;">40 күнде</span> жеңіл түрде меңгеріп шығамыз
                </p>
                <span class="const-btn">50% жеңілдікпен жазыламын</span>
            </div>
            <div class="main-img">
                <img src="~/img/Aibek.png">
            </div>
        </div>
    </div>
    <div class="level-wrap">
        <div class="level const-container">
            <div class="level-text">
                <h2>
                    Ерекше методикамен дайындалған субтитр + қазақша
                    түсіндірмесімен жасалған <span>40 мультфильмді сыйлыққа алыңыз</span>
                </h2>
                <p class="text-with-icon">
                    <i class="fa fa-bell"></i>
                    <span>
                        Ағылшын тілін үйрену бұрын соңды бұлай оңай, ыңғайлы, тез болмаған
                    </span>
                </p>
                <p class="btn-label">
                    Төмендегі батырманы басып, мультфильмдерді тегін алыңыз
                </p>
                <span href="#" class="const-btn">Мультфильмдерді тегін алу</span>
            </div>
            <div class="level-img">
                <img src="~/img/box.png" />
            </div>
        </div>
    </div>


    <div id="about" class="courses-wrap">
        <div class="courses const-container">
            <h2 class="const-h2">Лайфхактер</h2>
            <div class="course-items">
                @foreach (var c in ViewBag.LifeHack)
                {
                    <div class="course-item">
                        <div class="course-img">
                            <img src="~/lifehack/@c.PhotoUrl">
                        </div>
                        <div class="course-text">
                            <h2>@c.Title</h2>
                            <a href="/Home/LifeView/@c.Id" class="const-btn">Көру</a>
                        </div>
                    </div>
                }
            </div>
            <a href="~/Home/LifeHack" class="const-btn">Барлық лайфхактер</a>
        </div>
    </div>
    <div class="counts-wrap">
        <div class="counts const-container">
            <div class="count-item">
                <h1>3200</h1>
                <h3>Студентов</h3>
                <p>закончили обучение</p>
            </div>
            <div class="count-item">
                <h1>3200</h1>
                <h3>Студентов</h3>
                <p>закончили обучение</p>
            </div>
            <div class="count-item">
                <h1>3200</h1>
                <h3>Студентов</h3>
                <p>закончили обучение</p>
            </div>
            <div class="count-item">
                <h1>3200</h1>
                <h3>Студентов</h3>
                <p>закончили обучение</p>
            </div>
        </div>
    </div>
    <div id="courses" class="courses-wrap" style="background-color: var(--pink-color);background-image:url('/img/19.jpg')">
        <div class="courses const-container">
            <h2 class="const-h2" style="color:white;">Біздің курстар</h2>
            <div class="course-items">
                @foreach (var c in Model)
                {
                    <div class="course-item">
                        <div class="course-img">
                            <img src="~/kurs/@c.PhotoUrl">
                        </div>
                        <div class="course-text">
                            <h2>@c.Name онлайн курстар</h2>
                            <p>@c.Info</p>
                            <span class="price">
                                <span>@c.Price</span>тг
                            </span>
                            <a href="/Home/Kurs/@c.Id" class="const-btn" style="background-color:#1752a6 !important;">Толық ақпарат алу</a>
                        </div>
                    </div>
                }
            </div>
            <a href="~/Home/AllKurs" class="const-btn" style=" background-color: #dfa104;">Барлық курстар</a>
        </div>
    </div>
    <div id="about" class="about-wrap">
        <div class="about-bg"></div>
        <div class="about-body const-container">
            <h2 class="const-h2">Біздің мұғалімдер</h2>
            <div class="about-slider">
                <div class="about">
                    <div class="about-img">
                        <img src="~/img/person.png" alt="">
                    </div>
                    <div class="about-text">
                        <div class="about-text-bg"></div>
                        <h2>Марина Томашенко</h2>
                        <h3>5 лет преподавания</h3>
                        <p>
                            Ұстаздардың кәсіби біліктілігін арттыру орталығы төменгі,
                            орта және жоғары мектеп ұстаздарына замануи оқуыту әдістері мен жаңа
                            технологиялық құралдарды үйретуді мақсат етеді. Қазақ тіліндегі
                            сапалы онлайн курсыңызды таңдап кез-келген уақытта шеберлігіңізді арттырыңыз.
                            <br />
                            Біздің онлайн платформамызда өзіңіздің құнды тәжірибеңізбен бөлісіп, 400000 теңгеге дейін қосымша табыс табыңыз.
                        </p>
                        <a href="">Марина в Facebook</a>
                    </div>
                </div>
                <div class="about">
                    <div class="about-img">
                        <img src="~/img/person.png" alt="">
                    </div>
                    <div class="about-text">
                        <div class="about-text-bg"></div>
                        <h2>Марина Томашенко</h2>
                        <h3>5 лет преподавания</h3>
                        <p>
                            Ұстаздардың кәсіби біліктілігін арттыру орталығы төменгі,
                            орта және жоғары мектеп ұстаздарына замануи оқуыту әдістері мен жаңа
                            технологиялық құралдарды үйретуді мақсат етеді. Қазақ тіліндегі
                            сапалы онлайн курсыңызды таңдап кез-келген уақытта шеберлігіңізді арттырыңыз.
                            <br />
                            Біздің онлайн платформамызда өзіңіздің құнды тәжірибеңізбен бөлісіп, 400000 теңгеге дейін қосымша табыс табыңыз.
                        </p>
                        <a href="">Nurba в Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="results" class="results-wrap">
        <div class="about-body results-body const-container">
            <h2 class="const-h2">Біз туралы бітірушілердің пікірлері</h2>
            <div class="about-slider">
                <div class="about results">
                    <div class="about-text results-text">
                        <h2>Александра Никитина</h2>
                        <h3>2 годы обучения</h3>
                        <p>
                            Ұстаздардың кәсіби біліктілігін арттыру орталығы төменгі,
                            орта және жоғары мектеп ұстаздарына замануи оқуыту әдістері мен жаңа
                            технологиялық құралдарды үйретуді мақсат етеді. Қазақ тіліндегі
                            сапалы онлайн курсыңызды таңдап кез-келген уақытта шеберлігіңізді арттырыңыз.
                            Біздің онлайн платформамызда өзіңіздің құнды тәжірибеңізбен бөлісіп, 400000 теңгеге дейін қосымша табыс табыңыз.
                        </p>
                        <a href="">Марина в Facebook</a>
                    </div>
                </div>
                <div class="about results">
                    <div class="about-text results-text">
                        <h2>Александра Никитина</h2>
                        <h3>2 годы обучения</h3>
                        <p>
                            Ұстаздардың кәсіби біліктілігін арттыру орталығы төменгі,
                            орта және жоғары мектеп ұстаздарына замануи оқуыту әдістері мен жаңа
                            технологиялық құралдарды үйретуді мақсат етеді. Қазақ тіліндегі
                            сапалы онлайн курсыңызды таңдап кез-келген уақытта шеберлігіңізді арттырыңыз.
                            Біздің онлайн платформамызда өзіңіздің құнды тәжірибеңізбен бөлісіп, 400000 теңгеге дейін қосымша табыс табыңыз.
                        </p>
                        <a href="">Марина в Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/js/visitor.js"></script>
    <script type="text/javascript" src="~/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.about-slider').slick({
                dots: false,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear'
            });

            $(window).on('scroll', function () {
                if ($(window).scrollTop() >= $('#main').offset().top) {
                    $('a.fix-active').removeClass('fix-active');
                    $('.main-nav').addClass('fix-active');
                }
                if ($(window).scrollTop() >= $('#about').offset().top) {
                    $('a.fix-active').removeClass('fix-active');
                    $('.about-nav').addClass('fix-active');
                }
                if ($(window).scrollTop() >= $('#courses').offset().top) {
                    $('a.fix-active').removeClass('fix-active');
                    $('.course-nav').addClass('fix-active');
                }
            });
        })
    </script>


        
@*<div class="level-wrap">
    <div class="level const-container">
        <h2 class="const-h2">Уровни обучения английского языка</h2>
        <div class="level-items">
            <div class="level-item">
                <h3>Beginner</h3>
                <p>Начальный уровень. Вы раньше не занимались английским языком или знаний почти нет.</p>
            </div>
            <div class="level-item">
                <h3>Beginner</h3>
                <p>Начальный уровень. Вы раньше не занимались английским языком или знаний почти нет.</p>
            </div>
            <div class="level-item">
                <h3>Beginner</h3>
                <p>Начальный уровень. Вы раньше не занимались английским языком или знаний почти нет.</p>
            </div>
            <div class="level-item">
                <h3>Beginner</h3>
                <p>Начальный уровень. Вы раньше не занимались английским языком или знаний почти нет.</p>
            </div>
            <div class="level-item">
                <h3>Upper-Intermediate</h3>
                <p>Начальный уровень. Вы раньше не занимались английским языком или знаний почти нет.</p>
            </div>
            <div class="level-item">
                <h3>Beginner</h3>
                <p>Начальный уровень. Вы раньше не занимались английским языком или знаний почти нет.</p>
            </div>
        </div>
        <span href="#" class="const-btn">Улучшить уровень английского</span>
    </div>
</div>*@