@model IEnumerable<english.DbFolder.Lifehack>
@{
    ViewData["Title"] = "LifeHack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/index.css" rel="stylesheet">


<div class="swipe-menu">
    <div class="close">
        <span></span>
    </div>
    <a href="/Home/Index">Главная</a>
    <a href="/Home/AllKurs">Все курсы</a>
    <a href="#" class="fix-active">Лайфхаки</a>
    <a href="/Account/Profil" class="swipe-login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
</div>
<style>
    .header-wrap {
        background-color: var(--backDark);
    }

    .fix-header-wrap {
        background-color: white;
    }
</style>
<div class="header-wrap">
    <div class="header const-container">
        <div class="logo">
        </div>
        <div class="nav">
            <a href="/Home/Index">Главная</a>
            <a href="/Home/AllKurs">Все курсы</a>
            <a href="#" class="fix-active">Лайфхаки</a>
        </div>
        <a href="/Account/Profil" class="login">
            <span>Жеке кабинет</span>
            <i class="fa fa-user-o"></i>
        </a>
        <div class="burger">
            <span></span>
        </div>
    </div>
</div>

<div class="content">
    <div id="courses" class="courses-wrap">
        <div class="courses const-container">
            <h2 class="const-h2" style="margin-top: 15px">Все лайфхаки</h2>
            <div class="course-items">
                @foreach (var c in Model)
                {
                    <div class="course-item">
                        <div class="course-img">
                            <img src="~/lifehack/@c.PhotoUrl">
                        </div>
                        <div class="course-text">
                            <h2>@c.Title</h2>
                            <a href="#" class="const-btn">Смотреть</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/visitor.js"></script>
