@model IEnumerable<english.DbFolder.Kurs>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




<link href="~/css/cabinet.css" rel="stylesheet">



<div class="content">
    <div id="courses" class="courses">
        <h2>Жаңа курстар</h2>
        <div class="course-items">
            @foreach (var c in Model)
            {

                <div class="course-item">
                    <div class="course-img">
                        <img src="~/kurs/@c.BannerUrl">
                    </div>
                    <div class="course-text">
                        <h2>@c.Name</h2>
                        <p><i class="fa fa-user"></i>@c.AvtorName</p>
                        <span>@c.Info</span>
                        <a href="/Home/Kurs/@c.Id">Толық ақпарат алу</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
